" vundle
set nocompatible
filetype off
set rtp+=~/.vim/budnle/vundle/
call vundle#rc()

" vundle plugins
Plugin 'Valloric/YouCompleteMe'

filetype plugin indent on

" rest of vimrc file

" wildmenu (show autocomplete options)
set wildmenu

"search
set hlsearch

"colours
syntax on
"colorscheme blue
" colorscheme darkblue


"indent
set smartindent

"tabs
set tabstop=2
set softtabstop=2
set shiftwidth=2
"set textwidth=80
set smarttab
set expandtab

"indent filetype
filetype indent on

"other
set mouse=a
set number
set ic

"line 80 characters
"highlight OverLength ctermbg=red ctermfg=white guibg=#592929
"match OverLength /\%80v.\+/
"set langmap='q,\\,w,.e,pr,yt,fy,gu,ci,ro,lp,/[,=],aa,os,ed,uf,ig,dh,hj,tk,nl,s\\;,-',\\;z,qx,jc,kv,xb,bn,mm,w\\,,v.,z/,[-,]=,\"Q,<W,>E,PR,YT,FY,GU,CI,RO,LP,?{,+},AA,OS,ED,UF,IG,DH,HJ,TK,NL,S:,_\",:Z,QX,JC,KV,XB,BN,MM,W<,V>,Z?

